.btn {
  text-align: center;
  cursor: pointer;
  background: #fff;
  outline: 0 !important;
  padding: 5px;

  box-shadow: 3px 3px 3px #ddd;
  border: 1px solid #444;
  border-bottom: 2px solid #444;
  border-right: 2px solid #444;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;

  &:hover {
    box-shadow: inset 3px 3px 3px #ddd, 3px 3px 3px #ddd;
    text-shadow: 1px 1px 1px #ddd;
  }

  &:active {
    background: #eee;
    padding: 6px 4px 4px 6px;
    box-shadow: inset 3px 3px 3px #ddd;
    border: 1px solid #444;
    border-top: 2px solid #555;
    border-left: 2px solid #555;
  }
}

#addBtn {
  width: 150px;
  margin: 30px auto;
}

#addForm {
  width: 500px;
  margin: 15px auto;
  border: 1px solid #444;

  div {
    padding: 10px;
  }

  .form-header {
    font-family: 'Fredericka the Great', cursive;
    background: #444;
    color: #fff;
    font-size: 1.2em;

    span {
      float: right;
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        text-shadow: 3px 3px 3px #222;
      }
    }
  }

  label {
    font-family: 'Fredericka the Great', cursive;
    font-size: 0.9em;
  }

  input[type='text'], textarea {
    display: block;
    width: 90%;
    margin: 0 5% 10px 5%;
    font-family: 'Amatic SC', cursive;
    font-size: 1em;
  }

  textarea {
    height: 200px;
  }

  input[type='submit'] {
    font-family: 'Amatic SC', cursive;
    font-size: 1em;
    border-radius: 0;
    width: 50%;
    margin-left: 25%;
  }
}
